.u-section-1 {background-image: url("images/PA7BIF1x.jpg"); background-position: 50% 50%; min-height: 607px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 1140px) / 2) + 1140px); margin: 0 0 0 auto}
.u-section-1 .u-layout-cell-1 {min-height: 739px}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-text-1 {font-size: 5.8125rem; background-image: none; text-shadow: 12px -5px 5px rgba(219,84,90,0.9); animation-duration: 8000ms; text-transform: none; font-family: "Archivo Black"; font-weight: 700; margin: 154px -522px 0 -82px}
.u-section-1 .u-text-2 {text-transform: uppercase; letter-spacing: 2px; line-height: 36px; font-size: 1.5rem; font-weight: 400; margin: 92px -311px 0 39px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-layout-cell-3 {min-height: 739px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-1 {width: 476px; height: 476px; background-image: url("images/3565087ff.jpg"); background-position: 50% 50%; animation-duration: 1000ms; margin: 190px 16px 0 auto} 

@media (max-width: 1199px){ .u-section-1 {min-height: 413px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 940px) / 2) + 940px)}
.u-section-1 .u-layout-cell-1 {min-height: 609px}
.u-section-1 .u-container-layout-1 {padding-left: 40px; padding-right: 40px}
.u-section-1 .u-text-1 {width: auto; margin-top: 42px; margin-right: -280px; margin-left: -73px}
.u-section-1 .u-text-2 {width: auto; margin-top: 71px; margin-right: -6px; margin-left: -40px}
.u-section-1 .u-layout-cell-3 {min-height: 609px; background-position: 50% 50%}
.u-section-1 .u-image-1 {width: 441px; height: 441px; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 {min-height: 300px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 720px) / 2) + 720px)}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin-left: 0; margin-right: -311px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-1 {width: 300px; height: 300px} }

@media (max-width: 767px){ .u-section-1 {min-height: 516px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 540px) / 2) + 540px)}
.u-section-1 .u-container-layout-1 {padding-right: 50px; padding-left: 10px}
.u-section-1 .u-text-1 {font-size: 3.75rem}
.u-section-1 .u-text-2 {margin-top: 13px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 323px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 340px) / 2) + 340px)}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin-top: 27px} }.u-section-2 .u-sheet-1 {min-height: 1226px}
.u-section-2 .u-text-1 {animation-duration: 4750ms; text-shadow: -15px 6px 8px rgba(245,214,84,1); font-size: 4.5rem; font-weight: 700; text-transform: uppercase; background-image: none; margin: 60px auto 0}
.u-section-2 .u-text-2 {margin: 10px 40px 0 auto}
.u-section-2 .u-list-1 {min-height: 919px; grid-template-columns: 33.3333% 33.3333% 33.3333%; grid-template-rows: auto auto; grid-gap: 10px 10px; margin: 27px auto 60px 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-3 {font-size: 15.625rem; font-weight: 900; width: 145px; margin: 0 auto}
.u-section-2 .u-text-4 {font-weight: 700; text-transform: uppercase; background-image: none; font-size: 1.875rem; margin: -213px auto 0}
.u-section-2 .u-text-5 {background-image: none; font-size: 1.5rem; margin: 40px auto 0 0}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-6 {font-size: 15.625rem; font-weight: 900; width: 145px; margin: 0 auto}
.u-section-2 .u-text-7 {font-weight: 700; text-transform: uppercase; background-image: none; font-size: 1.875rem; margin: -213px auto 0}
.u-section-2 .u-text-8 {background-image: none; font-size: 1.5rem; margin: 40px auto 0 0}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-9 {font-size: 15.625rem; font-weight: 900; width: 145px; margin: 0 auto}
.u-section-2 .u-text-10 {font-weight: 700; text-transform: uppercase; background-image: none; font-size: 1.875rem; margin: -213px auto 0}
.u-section-2 .u-text-11 {background-image: none; font-size: 1.5rem; margin: 40px auto 0 0}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-text-12 {font-size: 15.625rem; font-weight: 900; width: 145px; margin: 0 auto}
.u-section-2 .u-text-13 {font-weight: 700; text-transform: uppercase; background-image: none; font-size: 1.875rem; margin: -213px auto 0}
.u-section-2 .u-text-14 {background-image: none; font-size: 1.5rem; margin: 40px auto 0 0}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-text-15 {font-size: 15.625rem; font-weight: 900; width: 145px; margin: 0 auto}
.u-section-2 .u-text-16 {font-weight: 700; text-transform: uppercase; background-image: none; font-size: 1.875rem; margin: -213px auto 0}
.u-section-2 .u-text-17 {background-image: none; font-size: 1.5rem; margin: 40px auto 0 0}
.u-section-2 .u-container-layout-6 {padding: 30px}
.u-section-2 .u-text-18 {font-size: 15.625rem; font-weight: 900; width: 145px; margin: 0 auto}
.u-section-2 .u-text-19 {font-weight: 700; text-transform: uppercase; background-image: none; font-size: 1.875rem; margin: -213px auto 0}
.u-section-2 .u-text-20 {background-image: none; font-size: 1.5rem; margin: 40px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 1065px}
.u-section-2 .u-text-2 {margin-left: 194px}
.u-section-2 .u-list-1 {min-height: 758px; grid-template-columns: repeat(3, 33.333333333333336%); height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1190px}
.u-section-2 .u-text-1 {width: 565px}
.u-section-2 .u-text-2 {margin-left: 25px; margin-right: 25px}
.u-section-2 .u-list-1 {min-height: 966px; grid-template-columns: repeat(2, 50%); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 2331px}
.u-section-2 .u-text-1 {margin-left: 40px; margin-right: 40px; width: 540px}
.u-section-2 .u-text-2 {margin-left: 10px; margin-right: 10px}
.u-section-2 .u-list-1 {min-height: 2027px; grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1609px}
.u-section-2 .u-text-1 {margin-top: 38px; margin-left: 0; margin-right: 0; width: 340px; font-size: 1.5rem}
.u-section-2 .u-text-2 {margin-right: 40px; margin-left: 0}
.u-section-2 .u-list-1 {min-height: 1321px; margin-top: 38px; margin-bottom: 38px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-3 {font-size: 6rem; width: auto}
.u-section-2 .u-text-4 {width: auto; margin-top: -95px; font-size: 1.5rem}
.u-section-2 .u-text-5 {margin-top: 10px; margin-right: 0}
.u-section-2 .u-text-6 {font-size: 6rem; width: auto}
.u-section-2 .u-text-7 {width: auto; margin-top: -95px; font-size: 1.5rem}
.u-section-2 .u-text-8 {margin-top: 10px; margin-right: 0}
.u-section-2 .u-text-9 {font-size: 6rem; width: auto}
.u-section-2 .u-text-10 {width: auto; margin-top: -95px; font-size: 1.5rem}
.u-section-2 .u-text-11 {margin-top: 10px; margin-right: 0}
.u-section-2 .u-text-12 {font-size: 6rem; width: auto}
.u-section-2 .u-text-13 {width: auto; margin-top: -95px; font-size: 1.5rem}
.u-section-2 .u-text-14 {margin-top: 10px; margin-right: 0}
.u-section-2 .u-text-15 {font-size: 6rem; width: auto}
.u-section-2 .u-text-16 {width: auto; margin-top: -95px; font-size: 1.5rem}
.u-section-2 .u-text-17 {margin-top: 10px; margin-right: 0}
.u-section-2 .u-text-18 {font-size: 6rem; width: auto}
.u-section-2 .u-text-19 {width: auto; margin-top: -95px; font-size: 1.5rem}
.u-section-2 .u-text-20 {margin-top: 10px; margin-right: 0} }.u-section-3 {background-image: url("images/5ae9c49e-7cad-c9e5-2446-718a68ef0cdb.jpg"); background-position: 50% 50%; min-height: 565px}
.u-section-3 .u-layout-wrap-1 {width: calc(((100% - 1140px) / 2) + 1140px); margin: 0 0 0 auto}
.u-section-3 .u-layout-cell-1 {min-height: 780px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {font-size: 4.5rem; text-transform: uppercase; letter-spacing: normal; font-weight: 700; font-family: Roboto, sans-serif; animation-duration: 5250ms; margin: 98px 30px 0 -30px}
.u-section-3 .u-text-2 {font-size: 1.5rem; font-style: normal; margin: 35px 22px 0 -12px}
.u-section-3 .u-image-1 {min-height: 780px; background-image: url("images/rfgd-min.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-2 {padding: 30px 0 30px 40px} 

@media (max-width: 1199px){ .u-section-3 {min-height: 361px}
.u-section-3 .u-layout-wrap-1 {width: calc(((100% - 940px) / 2) + 940px)}
.u-section-3 .u-layout-cell-1 {min-height: 643px}
.u-section-3 .u-text-1 {margin-top: 0}
.u-section-3 .u-image-1 {min-height: 643px} }

@media (max-width: 991px){ .u-section-3 {min-height: 210px}
.u-section-3 .u-layout-wrap-1 {width: calc(((100% - 720px) / 2) + 720px)}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-text-1 {font-size: 3rem}
.u-section-3 .u-image-1 {min-height: 343px}
.u-section-3 .u-container-layout-2 {padding-left: 30px} }

@media (max-width: 767px){ .u-section-3 {min-height: 499px}
.u-section-3 .u-layout-wrap-1 {width: 590px; margin-right: auto}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {margin-right: 0}
.u-section-3 .u-image-1 {min-height: 693px}
.u-section-3 .u-container-layout-2 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-3 {min-height: 302px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-text-1 {font-size: 2.25rem}
.u-section-3 .u-image-1 {min-height: 436px; background-position: 59.33% 50%} }.u-section-4 .u-sheet-1 {min-height: 1105px}
.u-section-4 .u-image-1 {width: 835px; height: 1104px; margin: 1px 0 0 auto}
.u-section-4 .u-text-1 {font-size: 1.5rem; text-transform: uppercase; letter-spacing: 0; font-weight: 400; margin: -932px auto 0 71px}
.u-section-4 .u-text-2 {text-transform: uppercase; font-weight: 700; letter-spacing: 2px; font-size: 6rem; animation-duration: 4750ms; text-shadow: -5px -10px 8px rgba(0,0,0,1); margin: -152px 46px 0 auto}
.u-section-4 .u-image-2 {width: 862px; height: 591px; margin: 150px auto 0 121px}
.u-section-4 .u-form-1 {height: 470px; margin: -530px 251px 271px 216px}
.u-section-4 .u-form-group-1 {width: 100%}
.u-section-4 .u-label-1 {font-size: 1.125rem}
.u-section-4 .u-input-1 {font-size: 1.25rem}
.u-section-4 .u-form-group-2 {width: 100%}
.u-section-4 .u-label-2 {font-size: 1.125rem}
.u-section-4 .u-input-2 {font-size: 1.25rem}
.u-section-4 .u-form-group-3 {margin-left: 0}
.u-section-4 .u-label-3 {font-size: 1.125rem}
.u-section-4 .u-input-3 {font-size: 1.25rem}
.u-section-4 .u-form-group-4 {margin-left: 0}
.u-section-4 .u-label-4 {font-size: 1.125rem}
.u-section-4 .u-input-4 {font-size: 1.25rem}
.u-section-4 .u-form-group-5 {margin-left: 0}
.u-section-4 .u-label-5 {font-size: 1.125rem}
.u-section-4 .u-input-5 {font-size: 1.25rem}
.u-section-4 .u-form-group-6 {width: 100%}
.u-section-4 .u-label-6 {font-size: 1.125rem}
.u-section-4 .u-form-group-7 {width: 100%}
.u-section-4 .u-btn-1 {border-style: none; font-size: 1.25rem; font-weight: 700} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 1137px}
.u-section-4 .u-image-2 {margin-left: 78px}
.u-section-4 .u-form-1 {width: 470px; margin-top: -531px; margin-right: 151px; margin-left: 116px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 871px}
.u-section-4 .u-image-1 {width: 720px; height: 952px}
.u-section-4 .u-text-1 {margin-top: -780px}
.u-section-4 .u-image-2 {width: 720px; height: 494px; margin-left: 0}
.u-section-4 .u-form-1 {margin-top: -434px; margin-right: 41px; margin-left: 6px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 653px}
.u-section-4 .u-image-1 {width: 540px; height: 714px}
.u-section-4 .u-text-1 {margin-top: -542px}
.u-section-4 .u-image-2 {width: 540px; height: 371px}
.u-section-4 .u-form-1 {margin: -311px 0 60px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 411px}
.u-section-4 .u-image-1 {width: 340px; height: 450px}
.u-section-4 .u-text-1 {margin-top: -278px; margin-left: auto}
.u-section-4 .u-text-2 {font-size: 2.25rem; width: auto}
.u-section-4 .u-image-2 {width: 340px; height: 234px}
.u-section-4 .u-form-1 {width: 340px; margin-top: -174px}
.u-section-4 .u-form-group-3 {width: 100%}
.u-section-4 .u-form-group-4 {width: 100%}
.u-section-4 .u-form-group-5 {width: 100%} }